.header {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 650px;
	height: 100vh;
	background-color: $secondary;
	@include respond-to(lg) {
		background-color: transparent;
	}
}
.header__square {
	position: absolute;
	z-index: -12;
	right: 0;
	width: 40%;
	height: 66.7%;
	background-color: $primary;
}
